<a href="https://colab.research.google.com/github/thecrazyphysicist369/machine-learning-assignement/blob/main/3_Decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to demonstrate the working of the decision tree based **ID3, C4.5 and
CART** algorithm. Use an appropriate data set for building the decision tree and apply this
knowledge to classify a new sample.

In [2]:
import csv
import pandas as pd

## Car Evaluation Dataset

In [5]:
!git clone https://github.com/thecrazyphysicist369/machine-learning-assignement

Cloning into 'machine-learning-assignement'...
remote: Enumerating objects: 102, done.
remote: Counting objects: 100% (102/102), done.
remote: Compressing objects: 100% (98/98), done.
remote: Total 102 (delta 50), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (102/102), 246.08 KiB | 3.97 MiB/s, done.
Resolving deltas: 100% (50/50), done.

In [13]:
data = pd.read_csv('/content/machine-learning-assignement/datasets/car_evaluation.csv',
                   dtype={'price':'string',
                         'comfort':'string',
                         'doors':'int',
                         'capacity':'int',
                         'boot':'string',
                         'safety':'string',
                         'acceptability':'string'}
                   )

In [14]:
data

      Price comfort  doors  capacity   boot safety acceptability
0     vhigh   vhigh      2         2  small    low         unacc
1     vhigh   vhigh      2         2  small    med         unacc
2     vhigh   vhigh      2         2  small   high         unacc
3     vhigh   vhigh      2         2    med    low         unacc
4     vhigh   vhigh      2         2    med    med         unacc
...     ...     ...    ...       ...    ...    ...           ...
1723    low     low      5         5    med    med          good
1724    low     low      5         5    med   high         vgood
1725    low     low      5         5    big    low         unacc
1726    low     low      5         5    big    med          good
1727    low     low      5         5    big   high         vgood

[1728 rows x 7 columns]

In [18]:
print('price', data.Price.unique())
print('comfort', data.comfort.unique())
print('doors', data.doors.unique())
print('capacity', data.capacity.unique())
print('boot', data.boot.unique())
print('safety', data.safety.unique())
print('acceptability', data.acceptability.unique())

price ['vhigh' 'high' 'med' 'low']
comfort <StringArray>
['vhigh', 'high', 'med', 'low']
Length: 4, dtype: string
doors [2 3 4 5]
capacity [2 4 5]
boot <StringArray>
['small', 'med', 'big']
Length: 3, dtype: string
safety <StringArray>
['low', 'med', 'high']
Length: 3, dtype: string
acceptability <StringArray>
['unacc', 'acc', 'vgood', 'good']
Length: 4, dtype: string

#ID3

First we need to calculate the entropy of all the variables

In [29]:
#Price
vhigh_unacc, vhigh_acc, vhigh_vgood, vhigh_good=0
vhigh_acc=0
vhigh_vgood=0
vhigh_good=0
for i in range(1727):
  if data.Price[i]=='vhigh':
    if data.acceptability[i]=='unacc':
      vhigh_unacc += 1
    if data.acceptability[i]=='acc':
      vhigh_acc += 1
    if data.acceptability[i]=='good':
      vhigh_good += 1
    if data.acceptability[i]=='vgood':
      vhigh_vgood += 1

print(vhigh_unacc, vhigh_acc, vhigh_good, vhigh_vgood)

1080 144 0 0

In [27]:
vhigh_unacc

360

#C4.5

#Classification and Regression Tree (CART)