<a href="https://colab.research.google.com/github/thecrazyphysicist369/machine-learning-assignement/blob/main/3_Decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to demonstrate the working of the decision tree based **ID3, C4.5 and
CART** algorithm. Use an appropriate data set for building the decision tree and apply this
knowledge to classify a new sample.

In [1]:
import csv
import pandas as pd
import math

## Car Evaluation Dataset

In [2]:
!git clone https://github.com/thecrazyphysicist369/machine-learning-assignement

Cloning into 'machine-learning-assignement'...
remote: Enumerating objects: 111, done.
remote: Counting objects: 100% (111/111), done.
remote: Compressing objects: 100% (107/107), done.
remote: Total 111 (delta 55), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (111/111), 249.96 KiB | 3.05 MiB/s, done.
Resolving deltas: 100% (55/55), done.

In [3]:
data = pd.read_csv('/content/machine-learning-assignement/datasets/car_evaluation.csv',
                   dtype={'price':'string',
                         'comfort':'string',
                         'doors':'int',
                         'capacity':'int',
                         'boot':'string',
                         'safety':'string',
                         'acceptability':'string'}
                   )

In [4]:
data

      Price comfort  doors  capacity   boot safety acceptability
0     vhigh   vhigh      2         2  small    low         unacc
1     vhigh   vhigh      2         2  small    med         unacc
2     vhigh   vhigh      2         2  small   high         unacc
3     vhigh   vhigh      2         2    med    low         unacc
4     vhigh   vhigh      2         2    med    med         unacc
...     ...     ...    ...       ...    ...    ...           ...
1723    low     low      5         5    med    med          good
1724    low     low      5         5    med   high         vgood
1725    low     low      5         5    big    low         unacc
1726    low     low      5         5    big    med          good
1727    low     low      5         5    big   high         vgood

[1728 rows x 7 columns]

In [5]:
print('price', data.Price.unique())
print('comfort', data.comfort.unique())
print('doors', data.doors.unique())
print('capacity', data.capacity.unique())
print('boot', data.boot.unique())
print('safety', data.safety.unique())
print('acceptability', data.acceptability.unique())

price ['vhigh' 'high' 'med' 'low']
comfort <StringArray>
['vhigh', 'high', 'med', 'low']
Length: 4, dtype: string
doors [2 3 4 5]
capacity [2 4 5]
boot <StringArray>
['small', 'med', 'big']
Length: 3, dtype: string
safety <StringArray>
['low', 'med', 'high']
Length: 3, dtype: string
acceptability <StringArray>
['unacc', 'acc', 'vgood', 'good']
Length: 4, dtype: string

#ID3

First we need to calculate the entropy of all the variables

\sum

In [6]:
#Price
price_vhigh_unacc, price_vhigh_acc, price_vhigh_vgood, price_vhigh_good=0,0,0,0
price_high_unacc, price_high_acc, price_high_vgood, price_high_good=0,0,0,0
price_med_unacc, price_med_acc, price_med_vgood, price_med_good=0,0,0,0
price_low_unacc, price_low_acc, price_low_vgood, price_low_good=0,0,0,0
for i in range(1727):
  if data.Price[i]=='vhigh':
    if data.acceptability[i]=='unacc':
      price_vhigh_unacc += 1
    if data.acceptability[i]=='acc':
      price_vhigh_acc += 1
    if data.acceptability[i]=='good':
      price_vhigh_good += 1
    if data.acceptability[i]=='vgood':
      price_vhigh_vgood += 1
  if data.Price[i]=='high':
    if data.acceptability[i]=='unacc':
      price_high_unacc+=1
    if data.acceptability[i]=='acc':
      price_high_acc+=1
    if data.acceptability[i]=='good':
      price_high_good+=1
    if data.acceptability[i]=='vgood':
      price_high_vgood+=1
  if data.Price[i]=='med':
    if data.acceptability[i]=='unacc':
      price_med_unacc+=1
    if data.acceptability[i]=='acc':
      price_med_acc+=1
    if data.acceptability[i]=='good':
      price_med_good+=1
    if data.acceptability[i]=='vgood':
      price_med_vgood+=1
  if data.Price[i]=='low':
    if data.acceptability[i]=='unacc':
      price_low_unacc+=1
    if data.acceptability[i]=='acc':
      price_low_acc+=1
    if data.acceptability[i]=='good':
      price_low_good+=1
    if data.acceptability[i]=='vgood':
      price_low_vgood+=1  

print(price_vhigh_unacc, price_vhigh_acc, price_vhigh_good, price_vhigh_vgood)
print(price_high_unacc, price_high_acc, price_high_vgood, price_high_good)
print(price_med_unacc, price_med_acc, price_med_vgood, price_med_good)
print(price_low_unacc, price_low_acc, price_low_vgood, price_low_good)

360 72 0 0
324 108 0 0
268 115 26 23
258 89 38 46

In [9]:
#entropy of Price
entropy_price_vhigh = -(price_vhigh_unacc/len(data))*math.log2(price_vhigh_unacc/len(data))
-(price_vhigh_acc/len(data))*math.log2(price_vhigh_acc/len(data))
#They are 
#-(price_vhigh_vgood/len(data))*math.log2(price_vhigh_vgood/len(data))
#-(price_vhigh_good/len(data))*math.log2(price_vhigh_good/len(data))

0.19104010419671483

In [ ]:
prin

#C4.5

#Classification and Regression Tree (CART)