<a href="https://colab.research.google.com/github/thecrazyphysicist369/machine-learning-assignement/blob/main/4_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Linear Regression

Implement the Linear Regression algorithm in order to fit data points. Select appropriate
data set for your experiment and draw graphs. Use both the batch gradient descent and
stochastic gradient descent.

In [1]:
import csv
import pandas as pd
import numpy as np

### Importing the repository

In [2]:
!git clone https://github.com/thecrazyphysicist369/machine-learning-assignement

Cloning into 'machine-learning-assignement'...
remote: Enumerating objects: 159, done.
remote: Counting objects: 100% (159/159), done.
remote: Compressing objects: 100% (155/155), done.
remote: Total 159 (delta 85), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (159/159), 620.08 KiB | 2.68 MiB/s, done.
Resolving deltas: 100% (85/85), done.

In [3]:
#importing the data
data = pd.read_csv('/content/machine-learning-assignement/datasets/housing.csv',
                   dtype = {'longitude' : 'float',
                            'latitude' : 'float',
                            'housing_median_age' : 'float',
                            'total_rooms' : 'float',
                            'total_bedrooms' : 'float',
                            'population' : 'float',
                            'households' : 'float',
                            'median_income' : 'float',
                            'median_house_value' : 'float'})

In [4]:
data

       longitude  latitude  ...  median_income  median_house_value
0        -122.23     37.88  ...         8.3252            452600.0
1        -122.22     37.86  ...         8.3014            358500.0
2        -122.24     37.85  ...         7.2574            352100.0
3        -122.25     37.85  ...         5.6431            341300.0
4        -122.25     37.85  ...         3.8462            342200.0
...          ...       ...  ...            ...                 ...
20635    -121.09     39.48  ...         1.5603             78100.0
20636    -121.21     39.49  ...         2.5568             77100.0
20637    -121.22     39.43  ...         1.7000             92300.0
20638    -121.32     39.43  ...         1.8672             84700.0
20639    -121.24     39.37  ...         2.3886             89400.0

[20640 rows x 9 columns]

## Single Variate Linear Regression

In [7]:
#Using the number of total rooms as the feature
x = np.sum(data['total_rooms'])
x2 = x*x
y = np.sum(data['median_house_value'])
y2 = y*y
xy = np.sum(data['total_rooms']*data['median_house_value'])

In [8]:
#Making the feature matrix
X = np.array([[len(data), x],
              [x, x2]])
#Making the output matrix
Y = np.array([y, xy])

#Inverting the feature matrix
X_inv = np.linalg.inv(X)

#Calculating the bias matrix
B = np.matmul(X_inv, Y)

[[2.06400000e+04 5.44021500e+07]
 [5.44021500e+07 2.95959392e+15]] [4.26950406e+09 1.19504399e+13]

In [16]:
#Predicting the values
num_rooms = int(input('Enter the number of the rooms'))
price = num_rooms*B[0] + B[1]
print(price)

Enter the number of the rooms3
620565.5885603181

206855.19610826278