<a href="https://colab.research.google.com/github/thecrazyphysicist369/machine-learning-assignement/blob/main/5_Logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Implement the Logistic Regression algorithm in order to fit data points. Select appropriate
data set for your experiment and draw graphs. Use both the batch gradient descent and
stochastic gradient descent.

In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [2]:
! git clone https://github.com/thecrazyphysicist369/machine-learning-assignement

Cloning into 'machine-learning-assignement'...
remote: Enumerating objects: 175, done.
remote: Counting objects: 100% (175/175), done.
remote: Compressing objects: 100% (171/171), done.
remote: Total 175 (delta 95), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (175/175), 674.54 KiB | 4.09 MiB/s, done.
Resolving deltas: 100% (95/95), done.

In [3]:
data = pd.read_csv('/content/machine-learning-assignement/datasets/banknote.csv', header=0)
data.shape

(1372, 5)

In [32]:
print(len(data))
data

1372

            A         B        C        D  Y
0     3.62160   8.66610  -2.8073 -0.44699  0
1     4.54590   8.16740  -2.4586 -1.46210  0
2     3.86600  -2.63830   1.9242  0.10645  0
3     3.45660   9.52280  -4.0112 -3.59440  0
4     0.32924  -4.45520   4.5718 -0.98880  0
...       ...       ...      ...      ... ..
1367  0.40614   1.34920  -1.4501 -0.55949  1
1368 -1.38870  -4.87730   6.4774  0.34179  1
1369 -3.75030 -13.45860  17.5932 -2.77710  1
1370 -3.56370  -8.38270  12.3930 -1.28230  1
1371 -2.54190  -0.65804   2.6842  1.19520  1

[1372 rows x 5 columns]

In [20]:
# input
x = data.iloc[:,[0,1,2,3]].values
print('x = ', x)
# output
y = data.iloc[:, 4].values
print('y = ', y)

x =  [[  3.6216    8.6661   -2.8073   -0.44699]
 [  4.5459    8.1674   -2.4586   -1.4621 ]
 [  3.866    -2.6383    1.9242    0.10645]
 ...
 [ -3.7503  -13.4586   17.5932   -2.7771 ]
 [ -3.5637   -8.3827   12.393    -1.2823 ]
 [ -2.5419   -0.65804   2.6842    1.1952 ]]
y =  [0 0 0 ... 1 1 1]

In [29]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.25, random_state = 0)

In [34]:
sc_x = StandardScaler()
xtrain = sc_x.fit_transform(xtrain) 
xtest = sc_x.transform(xtest)

In [38]:
xtrain[0:10,:]

array([[ 0.89967493,  1.18805208, -1.18171152, -0.09274226],
       [ 0.79132601,  1.52427784, -1.12635383, -1.42833711],
       [-1.4620017 , -1.74354285,  2.08102182,  0.74693093],
       [ 1.16581047, -0.98729225,  0.45528455,  0.56204943],
       [-0.67271772, -1.57668249,  1.51805865,  1.15257286],
       [ 0.61953964, -0.45970468,  0.86362069,  0.23990124],
       [-1.54480722,  0.12896494, -0.18351047,  0.01049605],
       [-1.22432179, -0.21649863,  0.3022492 ,  0.45137002],
       [ 0.1681513 ,  0.5961911 ,  0.14802009,  0.47239066],
       [-1.44052841, -2.6677176 ,  3.78418965, -0.68697223]])

In [40]:
classifier = LogisticRegression(random_state = 0)
classifier.fit(xtrain, ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [41]:
y_pred = classifier.predict(xtest)

In [49]:
xtest.shape

(343, 4)

In [53]:
test = np.array([-3.56370,	-8.38270,	12.3930,	-1.28230]).reshape(1,-1)
print(classifier.predict(test))

[1]