<a href="https://colab.research.google.com/github/thecrazyphysicist369/machine-learning-assignement/blob/main/5_Logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Implement the Logistic Regression algorithm in order to fit data points. Select appropriate
data set for your experiment and draw graphs. Use both the batch gradient descent and
stochastic gradient descent.

In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import matplotlib.pyplot as plt 
plt.rc("font", size=14)
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import seaborn as sns
sns.set(style="white")
sns.set(style="whitegrid", color_codes=True)

In [3]:
! git clone https://github.com/thecrazyphysicist369/machine-learning-assignement

Cloning into 'machine-learning-assignement'...
remote: Enumerating objects: 172, done.
remote: Counting objects: 100% (172/172), done.
remote: Compressing objects: 100% (168/168), done.
remote: Total 172 (delta 93), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (172/172), 673.10 KiB | 3.24 MiB/s, done.
Resolving deltas: 100% (93/93), done.

In [6]:
data = pd.read_csv('/content/machine-learning-assignement/datasets/banknote.csv', header=0)
data.shape

(1372, 5)

In [8]:
data

            A         B        C        D  Y
0     3.62160   8.66610  -2.8073 -0.44699  0
1     4.54590   8.16740  -2.4586 -1.46210  0
2     3.86600  -2.63830   1.9242  0.10645  0
3     3.45660   9.52280  -4.0112 -3.59440  0
4     0.32924  -4.45520   4.5718 -0.98880  0
...       ...       ...      ...      ... ..
1367  0.40614   1.34920  -1.4501 -0.55949  1
1368 -1.38870  -4.87730   6.4774  0.34179  1
1369 -3.75030 -13.45860  17.5932 -2.77710  1
1370 -3.56370  -8.38270  12.3930 -1.28230  1
1371 -2.54190  -0.65804   2.6842  1.19520  1

[1372 rows x 5 columns]